.welContent{background:#4784e3;}

.header{background:#4784e3;}
.layui-layout-admin .layui-header{background:#4784e3;}
/*下拉框颜色*/
.layui-btn-primary:hover{border-color:#207ef2;}
.layui-form-select dl dd.layui-this,.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background: #207ef2;}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{background-color:#4784e3;}

/*menu*/
.menuIn .current{background: #4784e3;;border-color:#4784e3;}
.drop dd:hover,.drop dd:hover a{background: #12a4d8!important;color:#fff!important;}
